{#
Copyright 2016 CampaignChain, Inc. <info@campaignchain.com>

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

   http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
#}

        <div class="btn-toolbar" role="toolbar">
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    <span class="fa fa-clock-o"></span> Time Scale <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#" onclick="zoom_tasks('hours')">Hours</a></li>
                    <li><a href="#" onclick="zoom_tasks('days')">Days</a></li>
                    <li><a href="#" onclick="zoom_tasks('weeks')">Weeks</a></li>
                    <li><a href="#" onclick="zoom_tasks('months')">Months</a></li>
                </ul>
            </div>
            <div class="btn-group pull-right">
                {% if gantt_toolbar_status != 'fullscreen' %}
                    <a href="{{ path(routes.plan_detail_fullscreen,{'id':campaign.id}) }}" class="btn btn-default" role="button"><span class="fa fa-arrows-alt"></span></a>
                {% endif %}
            </div>
        </div>

        {% block javascripts %}
            {% javascripts '@campaignchain_dhtmlxgantt_toolbar_relative_dates_js' combine=true %}
            <!-- @campaignchain_dhtmlxgantt_toolbar_js --><script src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
